html {
    background-color: rgb(182, 0, 0);
}
.dashboard-container {
    height: auto;
    background-color: rgb(221, 221, 221);
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
}
.dashboard-content-sec {
    /* background-color: aqua; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dashboard-content {
    width: 100%; 
    height: auto; 
    margin: auto;
    display: flex;  
    flex-wrap: wrap; 
    justify-content: space-around;
    transition: all 0.2 linear;
    /* background-color: rgb(115, 255, 0); */
}