.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    flex:1 1 300px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    -webkit-box-shadow:0 1px 3px 0 #c4c4c4;
    cursor: pointer;
    background-color: #fff;
}
.card-container p{
    margin-top: 10px;
}

@media (min-width: 900px) {
    .card-container:hover {
        background-color: #6c757d !important;
        transition: 0.5s;
    }

    .card-container:hover p, .card-container:hover h3 {
        color: #fff !important;
        transition: 0.5s;

    }
}