.assign-to-customer-container {
    height: auto;
    background-color: rgb(221, 221, 221);
    position: relative;
}

.assign-customer-id {
    justify-content: flex-start;
    flex-direction: column;
}

.assign-customer-item-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.assign-customer-label {
    margin-bottom: 1rem !important;
    font-weight: 500;
    text-align: center;
}

.assign-customer-list {
    padding: 0 90px;
}
.assign-to-customer-content {
    padding-bottom: 35px;
}
.assign-to-customer-content .assign-to-customer-title {
    text-align: center;
    margin: 20px 0;
}

.assign-items-single {
    cursor: pointer;
}
.assigned-items-single {
    border: 1px solid #0D6EFD;
    background-color: #5E9EFE;
}
.assigned-items-single p {
    color: #fff;
}


@media (max-width: 480px) {
    .assign-customer-list {
        padding: 0 !important;
    }
    .assign-customer-item-name {
        align-items: center;
    }
    .assign-customer-item-name p {
        margin-bottom: 7px;
    }
    .assign-customer-item-name p:last-child {
        margin-bottom: 0;
    }
    .assign-to-customer-content {
        padding-bottom: 35px;
    }
    /* .assign-items-single:hover {
        background-color: none !important;
    } */
}

@media (min-width: 900px) {
    .assign-items-single:hover {
        background-color: #6c757d !important;
        transition: 0.3s;
    }

    .assign-items-single:hover p {
        color: #fff !important;
    }
}